<h1>ddddhhhhhhhhh</h1>
<!--
<app-users [hero] = "data"></app-users>


<input type="text" placeholder="enter task" #task/>
<br><br>
<button (click) = "addTask(task.value)">add task</button>

<br>
<ul *ngFor = "let item of list">
    <li>{{item.name}} <button (click) = "removeTask(item.id)">Remove</button></li>
</ul>


<app-child [item] ="dat"></app-child>










<ul *ngFor="let item of userDetails">
    <app-users [user]='item'></app-users>
</ul>







<h1>{{data}}</h1>
<app-parent (updateDataEvent) = "updateData($event)"></app-parent>


<input type="text" [(ngModel)] = "name">
<h1>{{}}</h1>









<h1>{{name | lowercase}}</h1>
<h1>{{today |date : 'fullDate'}}</h1>








<h1>{{title | uppercase |slice :1:3 }}</h1>

<h2>{{u|json|uppercase}}</h2>

<h1>{{ "hello, how are you?" | titlecase }}</h1>

<h2>{{20|currency:'USD'}}</h2>
<h2>{{20|currency:'INR'}}</h2>

<h2>{{20|currency:'GBP'}}</h2>



<h1>{{20 | usdinr : 72}}</h1>










<form [formGroup]="loginForm" (ngSubmit)="login()">
    <input type="text" placeholder="enter name" name="name" formControlName="user">
    <br>
    <span style="color:brown;" *ngIf = " use && use.invalid && use.touched">this field is required</span>
    <br><br>
    <input type="password" placeholder="enter password" name="password" formControlName="password">
    <br>
    <span style="color:brown;" *ngIf = " password && password.invalid && password.touched">this field is required</span>

    <br>
    <button [disabled] = "loginForm.invalid">submit</button>
</form>













-->

<h1 appBrownElement >hiiiiiiiiiiii</h1>